doctype html
html
    head
        meta(name="description" content="Web app")
        meta(name="keywords" content="HTML,CSS,JavaScript")
        meta(name="author" content="Алексей Яриков")
        meta(name="viewport" content="width=device-width,maximum-scale=1.0")
        title(id="title")= title
        link(rel="shortcut icon" href="/favicon.png" type="image/png")
        link(rel='stylesheet', href='/css/main.css')
    body
        block content